.steps {
  
  &__title {
    margin-bottom: 15px;
    font-weight: 700;
  }

  &__subTitle {
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    max-width: 300px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__number {
      margin-bottom: 10px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 700;
    }

    &__text {
      margin-bottom: 10px;

    }
  }
}
